.filter-products {
    width: 85%;

    div {
        width: 100%;
        margin-left: 20px;
        position: relative;

        .search-by-title {
            width: 100%;
            height: 50px;
            border: none;
            border-radius: 10px;
            padding: 15px;
        }

        .search-by-range {
            margin: 0px;
        }

        .range-input {
            width: 100%;
            cursor: pointer;
        }

        select {
            width: 100%;
            height: 50px;
            color: black;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

    }

}

.search-events {
    width: 100%;
    margin-top: 50px;

    button {
        padding: 10px 40px;
        border-radius: 10px;
        color: white;

        &:first-child:hover {
            background-color: rgb(67, 231, 231);
            color: white;
        }

        &:first-child:active {
            background-color: rgb(150, 248, 248);
        }
    }
}



@media (max-width : 680px) {
    .filter-products {
        flex-direction: column;

        div {
            width: 80%;
            margin-top: 25px;

            .search-by-range {
                width: 100%;
            }
        }

    }
}