.navbar {
    width: 100%;
    padding: 20px !important;

    .menu-logo {
        width: 25%;
        height: 50px;

        svg {
            color: #92b3da;
            cursor: pointer;
            animation: increaseSize 1s infinite alternate;
        }
    }

    .others-container {
        width: 75%;

        .others {

            svg {
                color: white;
            }

            img {
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin-left: 20px;
                transition: all 1s ease;

                &:hover {
                    animation-name: increaseSize;
                }
            }

            .basket-icon {
                width: 48px;
                height: 50px;
            }


            width: 50%;

            .porducts-number {
                position: absolute;
                top: -5px;
                left: 52px;
                width: 25px;
                height: 25px;
                background-color: rgb(248, 109, 109);
                border-radius: 7px;
                right: 10px;
                bottom: 15px;

                .loader-animation {
                    width: 15px;
                    height: 15px;
                    color: white;
                }

                p {
                    margin-top: 15px;
                    color: white;
                }
            }
        }
    }


}



@keyframes increaseSize {
    0% {
        width: 40px;
        height: 40px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}