.page-not-found {
    width: 100%;
    height: 100vh;

    button {
        padding: 20px 64px;
        overflow-y: hidden;
        color: #FFF;
        font-weight: 500;
        border-radius: 5px;
        background: rgb(90, 90, 89);
        margin: 50px 0px;
        transition: border .3s ease;

        &:hover {
            background: rgb(90, 90, 89, 0.7);
        }
    }

}