@import "./assets/styles/FlexStyles.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

.night-mode-styles {
    background-color: rgb(27, 27, 27);
    color: white;

    h1 {
        color: rgb(195, 218, 231) !important;
    }

    input{
        color : black;
    }

    .navbar {
        .sidebar {
            background-color: rgb(55, 55, 56);
            box-shadow: 10px -10px 20px rgb(70, 69, 69);
        }
    }

    .all-products {
        .products-items {
            .product {
                color: black;

            }
        }
    }


}


@media (max-width : 600px) {
    * {
        font-family: 'Times New Roman', Times, serif;
    }
}