@import "./assets/styles/FlexStyles.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

.nightBG{
    background-color: rgb(27, 27, 27);
}